*.pyc
*.~
*.mat
*.data
*.csv
*.tar.gz
*.npz
*.ipynb_checkpoints/
examples/*/annarchy
tests/*/annarchy
tests/annarchy
benchmarks/*/annarchy
benchmarks/*/COBA
build/
dist/
internal/
ANNarchy.egg-info/
docs/_build
ANNarchy/core/cython_ext/*.cpp
ANNarchy/core/cython_ext/*.so
publish