*.pyc
*.~
*DS_Store
*.mat
*.data
*.csv
*.tar.gz
*.npz
*.ipynb_checkpoints/
examples/*/annarchy
examples/*/runs
tests/*/annarchy
tests/annarchy
build/
dist/
internal/
ANNarchy.egg-info/
ANNarchy/cython_ext/*.cpp
ANNarchy/cython_ext/*.so
