include MANIFEST.in
include README.md
include requirements.txt
include setup.cfg
include ANNarchy/core/cython_ext/*.pyx
include ANNarchy/core/cython_ext/*.pxd
exclude ANNarchy/core/cython_ext/*.cpp
recursive-include docs Makefile *.py *.rst *.png *.svg
graft docs/_themes
prune docs/_build
include examples/*/*.py
include examples/*/*.pyx
