include MANIFEST.in
include README.rst
include requirements.txt
include setup.cfg
include ANNarchy/core/cython_ext/*.pyx
include ANNarchy/core/cython_ext/*.pxd
exclude ANNarchy/core/cython_ext/*.cpp
recursive-include docs Makefile *.py *.rst *.png *.svg
graft docs/_themes
prune docs/_build
include examples/neural_field/NeuralField.py
include examples/neural_field/BubbleWorld.pyx
include examples/bar_learning/BarLearning.py
include examples/izhikevich/Izhikevich.py
include examples/simple_stdp/SimpleSTDPModel.py
