body {
    font-family: "Roboto", "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #000;
    background: #fff;
    border: 5px;
    margin: 0 auto;
    width: 60%;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: justify;
    
}

#header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size: 160%;
    margin-top: 2em;
}
h1.title {
    color: #333;
    font-size: 200%;
}
h2.author {  
    font-style: italic;
    font-weight: normal;
}
h3.date {  
    font-weight: normal;
}

h2 {
    padding-left: 1em;
}

h3 {
    padding-left: 2em;
}

td, th {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
table {
    text-align: left;
}

.header-section-number {
    padding-right: 1em;
}

ul {
    padding-left: 3em;
}
